@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
}
html {
    font-size: 18px;
}
a:link,
a:visited{
    text-decoration: none;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
}
a:hover {
    color: rgba(0, 0, 0, 0.6);
}


.header {
    background-color: #f4f6f8;
}
.header-nav {
    width: 1320px;
    margin: 0 auto;
    padding: 16px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title {
    font-size: 1.5rem;
    font-weight: 700;
}
.header-menu {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

/*DESCRIPTION HEADER*/
.pg-header {
    margin-bottom: 40px;
}
.pg-header_wrapper {
    background-color: #f4f6f8;
}

.pg-header_content {
    display: flex;
}

.pg-header_img {
    padding: 16px;
}

.pg-header_description {
    padding: 16px;
    margin-top: 64px;
}

.pg-header_wave {
    height: 220px;
    width: 100%;
    min-width: 600px;
    background: url("img/wave-bg.svg") no-repeat center;
}
.description-hello {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    font-weight: 300;
    margin-bottom: 8px;
}

.description-header {
    font-weight: 800;
    position: relative;
    margin-bottom: 32px;
}
.description-header::after {
    content: "";
    width: 125px;
    height: 30px;
    position: absolute;
    bottom: -15px;
    right: -45px;
    background: url("img/marker.svg") no-repeat center;
}
.description-text {
    margin-bottom: 16px;
    font-size: 1.1rem;
}
.description-social {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
}
.description-link {
    padding: 10px;
    background-color: #f6e05e;
    border-color: #f6e05e;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    width: 181px;
}
.description-link:link {
    font-size: 0.9rem;
}

.description-link:hover {
    color: #000;
    background-color: #f7e576;
    border-color: #f7e36e;
}

/*ABOUT SECTION*/
.about {
    padding: 0 48px;
}
.about-container {
    display: flex;
    margin: 0 160px;
    gap: 8.33%;
}
.about-img {
    width: 100%;
}
.about-img img {
    border-radius: 30px;
}
.about-header {
    margin-bottom: 1rem;
}
.about-profile {
    margin-bottom: 1rem;
}

.about-personal {
    display: grid;
    grid-template-columns: 110px 1fr;
}
.about-profile {
    margin-bottom: 16px;
}

/*Skills section*/





